/* GENERAL STYLES */

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 75%);
}

a:hover {
    color: hsl(180, 66%, 49%);
}

li {
    margin-bottom: 1rem;
}

/* STYLES */
.footer {
    background-color: hsl(260, 8%, 14%);
    color: #fff;
    display: flex;
}

.footer-header {
    margin-bottom: 1rem;
}

.footer-item1 {
    width: 30%;
}

.footer-item5 {
    width: 30%;
}

.footer-list-link {
    display: flex;
    column-gap: 1rem;
}

.social-links:hover path {
    fill: hsl(180, 66%, 49%);
}

@media (min-width: 1024px) {
    .footer {
        justify-content: space-between;
        padding: 3rem 5rem 2rem 5rem;
        column-gap: 1rem;
    }
}

@media (max-width: 1024px) {
    .footer {
        flex-direction: column;
        padding: 2rem 2rem 0 2rem;
        row-gap: 1rem;
        align-items: center;
        text-align: center;
    }

    .footer-list-link {
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .footer-item1 {
        width: 100%;
    }
}