.section2-wrapper {
  text-align: center;
  padding: 3rem 0;
  background-color: hsl(257, 27%, 26%);
  background-image: url(/images/bg-boost-desktop.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 700px) {
  .section2-wrapper {
    background-image: url(/images/bg-boost-mobile.svg);
  }
}
.section2-heading {
  color: #fff;
  font-weight: 700;
}

.section2-btn {
  padding: 0.5rem 2rem;
  background-color: hsl(180, 66%, 49%);
  border: none;
  border-radius: 50px;
  margin-top: 1rem;
  color: #fff;
}
